.heading {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.character {
    text-align: center;
    flex: auto;
    margin: 0 5px;
    display: flex;
}

button {
    padding: 10px 50px;
    background-color:rgb(56, 165, 98);
    color: white;
    cursor:pointer;
    border-radius: 6px;
    display:inline-block;
    font-weight: 5px;
}

.form {
    margin-top: 40px;
}

textarea {
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec
  }
